

.table-row:hover{
    background-color:rgba(0, 0, 0, 0.04);
}

.table-pagination{
    display: flex;
    justify-content: center;
}

.table-container {
    margin-left: 16%;
    width: 90% !important;
}

.table {
    width: 400px;
}