.drawer {
    color: #000;
    height: 56px;
    width: 227.6923065185547px;
    left: 0px;
    top: 0px;
    border-radius: 100px;
}
.drawer:hover {
    background-color: #FFA70D;
    color: white;
}



