
.drawer {
    color: #000;
    height: 56px;
    width: 227px;
    left: 0px;
    top: 0px;
    border-radius: 100px;
    padding-left: 100px
}

.drawer:hover {
    background-color: #dad8d6;
}

.drawer:active {
    background-color: #FFA70D;
    color: white;
}

.drawer-header {
    position: fixed;
}